# Variables du projet {{ project_name }}

github_owner           = "{{ owner }}"
repository_name        = "{{ project_name }}"
repository_description = "{{ description }}"
repository_visibility  = "{{ visibility }}"
